<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap-theme.css" />
    <script src="/vendor/jquery/dist/jquery.js"></script>

</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>TODO LIST</h1>
             <div class="btn-group" role="group" aria-label="...">
             <a href="/" class="btn btn-default">Home</a>           
            </div> 
            <form method="post" action="/save/" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    {{$todoItem := .TodoItem}}
                    <label for="toDo">Task title</label>
                    <input type="text" value="{{if $todoItem.Id}}{{$todoItem.Title}}{{end}}" name="todo" class="form-control" id="toDo" placeholder="What am I going to do"/>
                    <input type="hidden" name="todoid" value="{{$todoItem.Id}}" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="col-lg-4"></div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12"><br/></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <ul class="list-group">
                {{$todos := .Todos}}
                {{range $todos}}
                    <li class="list-group-item">
                        <a href="/edit/{{.Id}}">{{.Title}}</a>
                         <a href="/delete/{{.Id}}" style="float:right;margin-top:-6px;" class="btn btn-danger btn-sm">Delete</a>
                    </li>
                {{end}}
            </ul>
        </div>
        <div class="col-lg-4"></div>
    </div>

</div>

</body>
</html>